/* .search-wrap {
  background-color: #384054;
  padding: 10px 1rem;
  width: 9.3rem;
}

.card {
  padding-right: 25px;
  width: 234px;
  padding-bottom: 25px;
}
.imag img {
  width: 146px;
  height: 175px;
}

.cards-wrapper {
  display: flex;
  flex-wrap: wrap;
} */
